<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="../public/css/popup.css">
    <link rel="stylesheet" href="../public/css/profile.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div class="popup">
    <div class="popup__upload">
        <div class="popup__upload__zone">
            <div class="input__file">
                <input type='file' class="input__file__fileInput" id="input__file" multiple="multiple" accept="image/png, image/jpeg, image/gif, image/webp" style="display: none;">
                <img src="../public/img/upload.svg">
                <p style="font-size: 1.500em"><b>Пожалуйста,</b> переместите файл <b>сюда</b></p>
                <p style="font-size: var(--subtitle-size)">или</p>
                <label for="input__file" class="input__file__fileLabel">Выбрать файл</label>
            </div>
            <div class="crop__zone" style="display: none"></div>
            <input type="range" min="1" max="100" value="50" class="crop__movePhoto">
        </div>
        <span class="preview__text" style="display: none;">
            <p style="font-size: 1.25em; font-weight: bold">&#127881;&#128515; Круто!</p>
            <p>Именно так пользователи будут видеть Вашу аватарку.</p>
        </span>
        <div class="control__btn" style="display: none">
            <button id="prevUpload" style='display: none;' class="button">Назад</button>
            <button id="prevCrop" style='display: none;' class="button">Назад</button>
            <button id="crop" style='display: none;' class="button">Обрезать</button>
            <button id='success' style='display: none; background-color: var(--success-color)' class="button">Готово!</button>
        </div>
    </div>
</div>
<script type='module' src='../public/js/upload.js'></script>
</body>
</html>